body {
  font-family: 'Zilla Slab', serif;
  background: #e9f4ec;
  margin: 0 auto;
  border-radius: 20px;
}
span {
  font-size: x-large;
}
h3 {
  font-size: large;
}

.container{
  background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
  border: 1px solid #7B6C53;
  width: 700px;
}
p {
  text-align: center;
  display: block;
  margin: 0 auto;
}