body {
  font-family: 'Zilla Slab', serif;
  background: #e9f4ec;
  margin: 0 auto;
  color: green;
  text-align: center;
  
}
span {
  font-size: x-large;
}
h3 {
  font-size: large;
}


.card {
  background-image: linear-gradient(to top, #c1dfc4 0%, #deecdd 100%);
  border: 3px solid #7B6C53;
  width: 900px;
  border-radius: 20px;
  text-align: center;
}

.city-form {
  text-align: center;
  margin: 0 auto;
}
.city-search { 
 
  display: inline-block;
}
p {
  text-align: center;
  display: block;
  margin: 0 auto;
}